.form-control{
    box-shadow: none;

}
.form-control:focus{
    margin-top: 15px!important;
    box-shadow: none !important;
}
input{
    margin-top: 15px !important;
}
.btn-reg{
    margin-top: 1em;
}
.register-form{
    background-color: aliceblue;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    z-index: 999 !important;
}
.register-parent{
    height: 100vh;
    background-color:rgb(248, 250, 252);
}
.register-parent .row{
    height: 100vh;
    z-index: 999 !important;
    align-items: center;
}
.register-top{
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0 !important;
    background-color:#f1ecea;
}
.z1{
    z-index: 1 !important;
}

.login-form{
    background-color: aliceblue;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    z-index: 999 !important;
}
.login-parent{
    height: 100vh;
    background-color:rgb(248, 250, 252);
}
.login-parent .row{
    height: 100vh;
    z-index: 999 !important;
    align-items: center;
}
.login-bottom{
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0 !important;
    background-color:#f1ecea;
}
.z1{
    z-index: 1 !important;
}
